<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>Paper Stack</title>
<link rel="stylesheet" type="text/css" href="/assets/login.css" />
</head>
<body>
<div class="container">
	<section id="content">

		<%= form_for(@user) do |f| %>

		  <h1>Sign Up Form</h1>
		  <div>
	      <%= f.text_field :name %>
	      </div>

	      <div>
	      <%= f.email_field :email %>
	      </div>

	      <div>
	      <%= f.password_field :password %>
	      </div>

	      <div>
	      <%= f.password_field :password_confirmation %>
	      </div>

	      <div>
	      <%= f.submit "Submit" %>
	      </div>
	    <% end %>
		<div class="button">
			<a href="/home/main">Back to browse</a>
		</div><!-- button -->
	</section><!-- content -->
</div><!-- container -->
</body>
</html>
