<!DOCTYPE html>
<html>
<head>
  <title>CoffeePre2</title>
  <%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 

  <link rel="stylesheet" type="text/css" href="/assets/bootstrap.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/assets/style.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/assets/font-awesome.css" media="screen">
  <link rel="stylesheet" href="/assets/flexslider.css" type="text/css" media="screen"/>
  <link rel="stylesheet" href="/assets/responsive.css" type="text/css" media="screen"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="container">
  <%= render 'layouts/header' %>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</div>




</body>
</html>
